* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.logo-rock {
    width: 40px;
}
.logo-onebitcode {
    width: 200px;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttonHeader {
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.buttonHeader:hover {
    border-color: #ff0044;
}

/* 
header {
    color: #fff;
    padding: 0 20px;
    background-color: #000;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    gap: 5px;
    padding: 10px 0px;
}

img {
    width: auto;
    height: 90%;
    padding: 5px;
}
.buttonHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    border-color: #ff0000;
} */
