* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logoNavBar {
    width: 180px;
}
.header {
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}
.headerBtnGroup {
    display: flex;
    gap: 15px;
}
.navBtn {
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.navBtn:hover {
    border-bottom: 2px solid #000;
}

.sectionTitle {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}
.sectionDescription {
    text-align: center;
    color: #383838;
}
.gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'mainContent sidebarContent';
    padding: 20px;
    flex: 1 0 auto;
}
.mainCardImg {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.sidebarCardImg {
    width: 100%;
    border-radius: 10px;
}
.categoryCard {
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.categoryCard:hover {
    border: 2px solid #000;
}
.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: mainContent;
}
.mainCategoryCardTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}
.mainCategoryCardDescription {
    padding: 6px;
}
.sidebarContent {
    background-color: #383838;
    color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: sidebarContent;
    gap: 20px;
}
.sidebarCard {
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.sidebarCard:hover {
    border-color: #dcdcdc;
}
.sidebarCardTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 0;
}
/* 
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 250px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2d30;
    padding: 30px;
}
.article-section {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}
.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 10px;
    margin: 0 40px;
}
.aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 300px;
    height: AUTO;
    background-color: #2f2d30;
    color: #fff;
}
.header-butons {
    gap: 30px;
}
.header-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0 5px;
    padding: 10px;
    font-size: 18px;
}
.card-article {
    width: 250px;
}
.image-card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.card-aside {
    width: 200px;
    margin: 5px;
}
.image-aside {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gridContainer {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-section {
    text-align: center;
    margin: 30px;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2d30;
    padding: 30px;
}

.footer-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0 5px;
    padding: 10px;
    font-size: 18px;
}
.card-aside p {
    padding: 10px;
} */
